<div id="home" class="container">

  <app-navbar></app-navbar>

      <!-- Masthead -->
      <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto">
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                    <div class="col-12 col-md-12 mb-2 mb-md-0">
                        <input class="form-control form-control" type="email" placeholder="Enter you e-mail" name="emailSearch" [popover]="emailPopover" [(ngModel)]="emailSearch" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required/>
                    </div>
                    <popover-content #emailPopover
                    [closeOnMouseOutside]="true"
                    placement="auto bottom"><span style="color: blue">Please, enter a valid e-mail</span>
                  </popover-content>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-12 mb-2 mb-md-0">
                      <textarea class="form-control form-control" required  rows="5" placeholder="Enter what you are looking for..." name="sequenceSearch" [(ngModel)]="sequenceSearch"></textarea>
                  </div>
                </div>
                <div class="card">
                  <div class="card-block">
                    <div class="form-row ">
                      <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <label class="radio-inline search-radio"><input type="radio" name="sequenceOption" value="sequence" [(ngModel)]="optionSearch" checked [popover]="sequencePopover">Sequence</label>
                        <popover-content #sequencePopover
                        [closeOnMouseOutside]="true"
                        placement="auto bottom"><span style="color: blue">Aminoacid sequence</span>
                      </popover-content>
                      </div>
                      <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <label class="radio-inline search-radio"><input type="radio"  name="idOption" value="id" [(ngModel)]="optionSearch"  [popover]="idPopover">Id</label>
                        <popover-content #idPopover
                          [closeOnMouseOutside]="true"
                          placement="auto bottom"><span style="color: blue">Sucest, Uniprot or Gene</span>
                        </popover-content>
                      </div>
                    </div>
                   </div>
                    <span style="color: red">{{errorMsg}}</span>
                  </div>

                  <div class="form-row">
                      <div class="col-12 col-md-12">
                        <button type="submit" class="btn btn-block btn-lg btn-primary" (click)="refineIdOrSequence()">Search</button>
                      </div>
                  </div>

              </form>

            </div>
          </div>
        </div>
      </header>

      <section class="result">
          <div class="container" *ngIf="hasResult && blastResultList?.length > 0"> 
              <div class="row">
                <div class="col-12 col-md-12">
                <ngui-tab
                  selected="js"
                  selected-index-class="selected"
                  selected-contents-class="fadeIn animated">
                  <div class="tabs">
                    <div index="sucest" *ngIf="sucestList?.length > 0 && sucestList[0].gene != 'NOT_FOUND'">Sucest</div>
                    <div index="blast">Blast </div>
                      <a (click)="exportToCsv()"><i class="fa fa-file-excel-o" aria-hidden="true" style="color:green"  [popover]="excelPopover" [popoverOnHover]="true"></i>
                      <popover-content #excelPopover
                      [closeOnMouseOutside]="true"
                       placement=" top">
                       <span style="color: blue">Export to Excel</span>
                    </popover-content>
                    </a>
                  </div>
                  <div class="tab-contents">

                  <!---SUCEST TAB-->
                    <div contents="sucest">

                      <div class="">
                        <div class="content-end">
                          <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Search.."
                            [(ngModel)]="search" />
                    
                          <i class="fa fa-search search"></i>
                        </div>
                      </div>

                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th style="width: 20%">
                              Gene
                            </th>
                            <th style="width: 40%">
                              Description
                            </th>
                            <th style="width: 10%"  [popover]="domainPopover" [popoverOnHover]="true">
                              Domain
                              <popover-content #domainPopover
                              [closeOnMouseOutside]="true"
                               placement=" top">
                                <span style="color: blue">C: Cellulose</span><br>
                                <span style="color: blue">H: Hemicellulose</span><br>
                                <span style="color: blue">P: Pectin</span><br>
                                <span style="color: blue">L: Lignin</span><br>
                                <span style="color: blue">E: Expansin</span><br>
                                <span style="color: blue">M: Metabolism</span><br>
                                <span style="color: blue">O: Others</span><br>
                                <span style="color: blue">NA: Not Defined</span>
                            </popover-content>
                            </th>
                            <th style="width: 10%">
                              Details 
                            </th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of sucestList | filterSucestByDescriptionGenePipe: search ">
  
                          <td *ngIf="item.gene != 'NOT_FOUND'">{{item.gene}}</td>
                          <td *ngIf="item.gene != 'NOT_FOUND'">{{item.description}}</td>
                          <td *ngIf="item.gene != 'NOT_FOUND'">{{item.domainsString}}</td>
                          <td *ngIf="item.gene != 'NOT_FOUND'"><button class="btn-sm btn-primary" (click)="callSucestModal(item)"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></button>
     
                      </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="4">
                            
                          </td>
                      </tr>
                    </tfoot>
                </table>

              </div>


              <!---BLAST TAB-->
              <div contents="blast">
                  <div class="">
                      <div class="content-end">
                        <input 
                          type="text" 
                          class="form-control" 
                          placeholder="Search.."
                          [(ngModel)]="search" />
                  
                        <i class="fa fa-search search"></i>
                      </div>
                    </div>

                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th style="width: 10%">
                          Sucest
                          </th>
                          <th style="width: 10%">
                          Uniprot
                          </th>
                          <th style="width: 20%">
                          Protein
                          </th>
                          <!--<th style="width: 10%">
                          Organism
                          </th>-->
                          <th style="width: 10%">
                          Score
                          </th>
                          <th style="width: 5%">
                          Evalue
                          </th>
                          <th>
                          Details
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of blastResultList | filterBlastPipe: search | sort:'score'  | paginate: { itemsPerPage: 30, currentPage: p}">
                          <td>{{item.sucestBusca}}</td>
                          <td>{{item.entryName}}</td>
                          <td>{{item.proteinName}}</td>
                          <td>{{item.score}}</td>
                          <td>{{item.evalue}}</td>
                          <td><button class="btn-sm btn-primary" (click)="callUniprotModal(item)"><i class="fa fa-edit fa-fw" aria-hidden="true"></i></button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="4">
                        </td>
                    </tr>
                  </tfoot>
              </table>
              <pagination-controls  class="content-center" (pageChange)="p = $event"  previousLabel="Previous" nextLabel="Next"></pagination-controls>
                  </div>
                 </div>
                </ngui-tab>
              </div>
              </div>
            </div>
      </section>
  
      <app-footer></app-footer>

</div>
<ng4-loading-spinner [timeout]="600000"></ng4-loading-spinner>